_pycache__/
*.py[cod]
*$py.class

# **/simulationResults/*
**/examples/**/*.csv
**/examples/**/plots
/build/*
/dist/*
/GIMMECore.egg-info/*
/GIMMEsolver.egg-info/*
/GIMME_solver.egg-info/*
/solver.egg-info/*
*.csv


examples/simulationResults/latestResults/currResults.zip
